---
---

@import "{{ site.theme }}";

@viewport {
    width: device-width;
    initial-scale: 1;
}

header {
    width: device-width;
    initial-scale: 1;
}
body {
    width: device-width;
    initial-scale: 1;
}
